body {
	margin: 0;
}
header {
	width: 100%;
	height: 100px;
	border: solid thin;
	float: left;
	background-color:  #e0ebeb;
}
header h1 {
	float: left;
	font-size: 2em;
	padding-left: 10px;
}
header h1 a {
	text-decoration: none;
	color: black;
}
#top {
	width: 220px;
	height: 30px;
	float: left;
	margin-left: 35%;
	margin-top: 30px;
}
#top a {
	text-decoration: none;
	color: black;
	padding-left: 10px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
#topright {
	width: 220px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}
#topright a {
	text-decoration: none;
	color: brown;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
.dropbtn {
  background-color: #006666;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #006666;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}
 .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.active {
  background-color: #006666;
}
.name {
	width: 100%;
	float: left;
	height: 150px;
	text-align: center;
}
.name h3 {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
	width: 100%;
	background-image: url(../img/back.jpg);
	float: left;
}
.search-container {
	margin-left: 33%;
	
	margin-top: 10%;
	float: left;
}
.search-container input[type=text] {
	padding: 10px 270px 10px 10px;
}
.categories {
	float: left;
	width: 60%;
	height: 200px;
	margin-top: 40px;
	margin-left: 30%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}
.categories .rec {
	float: left;
	height: 150px;
	width: 120px;
	background-color: white;
	opacity: 0.5;
	border-radius: 25%;
}
.categories .rec1 {
	float: left;
	height: 150px;
	width: 120px;
	background-color: white;
	opacity: 0.5;
	margin-left: 15px;
	border-radius: 25%;
}
.categories .rec2 {
	float: left;
	height: 150px;
	width: 120px;
	background-color: white;
	opacity: 0.5;
	margin-left: 15px;
	border-radius: 25%;
}
.categories .rec3 {
	float: left;
	height: 150px;
	width: 120px;
	background-color: white;
	opacity: 0.5;
	margin-left: 15px;
	border-radius: 25%;
}
.categories i {
	padding-top: 20px;
	float: left;
	margin-left: 25px;
}
#section {
	width: 100%;
	height: 265px;
	float: left;
}
#section img {
	margin: 10px 0 0 10px;
	float: left;
}
#article {
	width: 100%;
	margin-top: 25px;
	float: left;
	text-align: center;
}
.box {
	width: 500px;
	height: 300px;
	float: left;
	margin-left: 110px;
}
.circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: solid;
	float: left;
	margin-left: 35%;
}
#article p {
	float: left;
	font-family: Arial, Helvetica, sans-serif;

}

.leftbar {
	float: left;
	width: 15%;
	height: 400px;
	margin-top: 20px;
	border-right: solid thin;
	border-top: solid thin
}
.leftbar li {
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-left: -15px;
	margin-top: 8px;
}
.leftbar li a {
	text-decoration: none;
	color: black;
}
.leftbar li a:hover {background-color: #006666;}
.content {
	width: 78%;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.content img {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.content img:hover {
	opacity: 0.6;
}
.freelancers {
	width: 80%;
	float: left;
	margin: 0 10% 0 10%;
}
#details {
	
}
#details #profile {
	width: 200px;
	height: 200px;
	border: solid grey;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}
#profile .portfolio {
	width: 610px;
	height: 310px;
	position: relative;
	display: none;
}
.portfolio img {
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}
.bottom {
	width: 100%;
	height: 300px;
	float: left;
	background-color: grey;
	margin-top: 10px;
}
footer  {
	width: 100%;
	height: 300px;
	float: left;
	background-color: grey;
	margin-top: 10px;
}
