#top {
	width: 100%;
	height: 100px;
	background-color: #006666;
}
.search-container {
  float: right;
  margin-right: 10px;
}
#top input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 3%;
  border: solid thin grey;
}
#top button[type=submit] {
	padding: 6px;
	border: solid thin grey;
}
#top h1 {
	position: absolute;
	color: white;
	font-family: Verdana, sans-serif;
	top: 0;
	left: 25px;
}
#top #links {
	width: 400px;
	float: left;
	height: 30px;
	margin-left: 450px;
	margin-top: 30px;
}
#links a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-left: 15px;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}
.dropbtn {
  background-color: #006666;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4CAF50;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}
 .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.box {
	width: 100%;
	height: 200px;
	background-color: #f2f2f2;
	float: left;
}
.box h5 {
	text-align: center;
	padding: 50px;
	font-size: 20px;
	font-family: "Arial", Arial, sans-serif;
	color: red;
}
#nav {
	width: 20%;
	float: right;
	margin-top: 250px;
	border: solid;
}
#main {
	width: 70%;
	float: left;
	margin-top: 250px;
	margin-left: 50px;
	border: solid thin;
}
#leftbar {
	width: 20%;
	height: 400px;
	float: left;
	margin-top: 10px;
}
#middle {
	width: 50%;
	float: left;
	margin-top: 100px;
	margin-left: 25px;
}
#rightbar {
	width: 25%;
	height: 400px;
	float: right;
	border: solid;
	margin-top: 100px;
}
.rec1 {
	width: 100%;
	height: 55px;
	border: solid #339966;
	text-align: center;
	margin-top: 5px;
	 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.rec1:hover {
	background-color: #339966;
}
.rec2 {
	width: 100%;
	height: 55px;
	border: solid #339966;
	text-align: center;
	margin-top: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.rec2:hover {
	background-color: #339966;
}
.rec3 {
	width: 100%;
	height: 55px;
	border: solid #339966;
	text-align: center;
	margin-top: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.rec3:hover {
	background-color: #339966;
}
.rec4 {
	width: 100%;
	height: 55px;
	border: solid #339966;
	text-align: center;
	margin-top: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.rec4:hover {
	background-color: #339966;
}
#leftbar h3 {
	font-family: "Verdana", Verdana, sans-serif;
}
#center {
	width: 100%;
	float: left;
}
#center h3 {
	font-family: "Verdana", Verdana, sans-serif;
	font-size: 2em;
	text-align: center;
}
section {
	border-radius: 50%;
	border: solid thin green;
	float: left;
	margin-left: 140px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 150px;
	height: 150px;
}
section h4 {
	font-family: "Verdana", Verdana, sans-serif;
	padding: 40px;
	text-align: center;
}
section:hover {
	background-color:  #339966;
}
section:hover h4 {
	color: white;
}
#col {
	width: 100%;
	height: 300px;
	float: left;
	text-align: center;
	font-size: 17px;
}
#col #one {
	float: left;
	width: 150px;
	margin-left: 150px;
}
#col #two {
	width: 150px;
	float: left;
	margin-left: 140px;
}
#col #three {
	width: 150px;
	float: left;
	margin-left: 140px;
}
#col #four {
	width: 150px;
	float: left;
	margin-left: 140px;
}
#article {
  text-align: center;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.content {
	width: 80%;
	float: left;
	margin-left: 10%;
	margin-right: 10%;
}
#list li {
	width: 100%;
	height: 340px;
}
#list li img {
	float: left;
	margin-top: 20px;
}
#list li h5 {
	font-family: 'Verdana', Verdana, sans-serif;
	font-size: 20px;
	float: left;
	padding-left: 20px;
}
#list .info {
	width: 60%;
	height: 220px;
	float: left;
	margin-left: 20px;
	background-color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
}
.about {
	width: 65%;
	float: left;
	margin-left: 10px;
}
.cost {
	width: 30%;
	float: left;
	margin-left: 10px;
	text-align: center;
}
footer {
	width: 100%;
	height: 250px;
	background-color: #006666;
	float: left;
}
footer p {
	padding: 100px;
	text-align: center;
}